@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&display=swap');

.box {
    display: flex;
    height: 730px;
    width: 100%;
    background-color: wheat;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%), hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    /* background-image: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%)); */
    border: 2px blue;
    margin-top: -10px;
    background: url(image/bg-pattern-desktop.svg)
}

.hero {
    float: right;
    height: 730px;
    margin-right: -10px;
    margin-top: -725px;
}

.text {
    margin-left: 150px;
    margin-top: 100px;
}

.t {
    color: hsl(0, 93%, 68%);
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.t1 {
    color: black;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.t2 {
    color: hsl(0, 36%, 70%);
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.mail {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    position: relative;
}

.email1 {
    width: 90%;
    height: 3rem;
    border-radius: 30px;
    background: none;
    border: 2px solid hsl(0, 36%, 70%);
    opacity: 0.6;
    padding-left: 2rem;
    color: rgb(53, 4, 53);
    font-weight: 400;
}

button {
    height: 3.3rem;
    width: 5.4rem;
    border: 2px solid hsl(0, 36%, 70%);
    border-radius: 30px;
    margin-left: -5.3rem;
    z-index: 2;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    cursor: pointer;
    position: relative;
}

button:hover {
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 80%, 86%));
    box-shadow: 0px 10px 10px 2px hsla(0, 6%, 24%, 0.2);
}

#error-logo {
    position: absolute;
    right: 7rem;
    display: none;
}

#er2 {
    display: none;
    font-size: 14px;
    color: red;
    margin-top: 0rem;
    margin-left: 2rem;
}


@media screen and (max-width:650px) {
    .hero {
        background: url(./image/hero-mobile.jpg) no-repeat center/cover;
        width: 100%;
        margin: -600px 0px 0px 0px;
    }

    .t {
        margin-top: 55rem;
        font-size: 2rem;
        margin-left: -4rem;
    }

    .t1 {
        margin-top: -1rem;
        margin-left: -4rem;
    }

    .t2 {
        margin-top: -1rem;
        margin-left: -4rem;
    }

    .logo {
        width: 7rem;
        margin-top: -10rem;
        margin-left: 5rem;
    }

    .email1 {
        width: 100%;
        padding-left: 0.5rem;
        margin-top: -1rem;
        margin-left: -4rem;
    }

    button {
        margin-top: -1rem;
    }

    #error-logo {
        right: 5rem;
    }

    #er2 {
        margin-right: 5.5rem;
    }
    .attribution {
        float: right;
        margin-top: 50rem;
    }
}
